# script scratch

In [1]:
import pandas as pd
import numpy as np
import prepare as p
import model as m

import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

from scipy import stats

In [2]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [3]:
df = p.prep_data(df)

In [4]:
X_train_smtom, y_train_smtom, X_validate_scaled, y_validate, X_test_scaled, y_test = p.model_prep(df)

Before SMOTE applied: (3064, 31) (3064,)
After SMOTE applied: (5828, 31) (5828,)

In [5]:
X_train_smtom.shape, y_train_smtom.shape, X_validate_scaled.shape, y_validate.shape, X_test_scaled.shape, y_test.shape

((5828, 31), (5828,), (1022, 31), (1022,), (1022, 31), (1022,))

In [6]:
# Fit the model
nb = GaussianNB(var_smoothing=0.00001).fit(X_train_smtom, y_train_smtom)

# Use the model
# We'll evaluate the model's performance on test
y_predictions = nb.predict(X_test_scaled)
y_pred_proba = nb.predict_proba(X_test_scaled)

# Produce the classification report on the actual y values and this model's predicted y values
report = classification_report(y_test, y_predictions, output_dict=True)
print("NaiveBayes var_smoothing = 0.00001")
pd.DataFrame(report)

NaiveBayes var_smoothing = 0.00001

                    0          1  accuracy    macro avg  weighted avg
precision    0.994071   0.098837  0.542074     0.546454      0.946769
recall       0.519628   0.944444  0.542074     0.732036      0.542074
f1-score     0.682497   0.178947  0.542074     0.430722      0.655890
support    968.000000  54.000000  0.542074  1022.000000   1022.000000

In [7]:
# df = acquire.get_telco_data()
# merged = X_test.merge((df.customer_id), left_index=True, right_index=True, how='left')
# customer_id = merged.customer_id
probability = pd.DataFrame(y_pred_proba, columns= ['no_stroke_%', 'stroke_%'])
prediction = pd.DataFrame(y_predictions, columns= ['stroke_pred'])
final_pred = pd.concat([probability, prediction], axis=1)

# customer = pd.DataFrame(customer_id)
# customer.reset_index(drop=True, inplace=True)
# final = pd.concat([final_pred, customer], axis=1)
# final["churn_pred"] = final.churn_pred.replace(to_replace = [1, 0],value = ["Yes","No"])

In [8]:
final_pred

       no_stroke_%       stroke_%  stroke_pred
0     1.172270e-15   1.000000e+00            1
1     1.000000e+00   7.821194e-56            0
2     7.025892e-18   1.000000e+00            1
3     1.000000e+00  1.766590e-134            0
4     1.000000e+00   0.000000e+00            0
...            ...            ...          ...
1017  2.338322e-03   9.976617e-01            1
1018  1.000000e+00   0.000000e+00            0
1019  2.906160e-17   1.000000e+00            1
1020  1.000000e+00   0.000000e+00            0
1021  6.611782e-04   9.993388e-01            1

[1022 rows x 3 columns]

In [10]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke,age_range
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,65-70
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,30.6,never smoked,1,60-65
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,75-80
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,45-50
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,75-80

In [ ]:
user_input = {"age": a, 
              "hyptertension": b, 
              "heart_disease": c, 
              "avg_glucose_level": d, 
              "bmi": e, 
              "gender": f,
              "work_type": g,
              "residence_type": h
             }
# user_pred_proba = nb.predict_proba(user_input)